*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
	@media (max-width: 900px) {
		font-size: 9px;
	}
}

#root {
	height: 100%;
}
body {
	box-sizing: border-box;
	padding: 0rem;
	background-color: $color-primary;
	height: 100%;
}
