// COLORS
$color-primary: #12232e;

$color-secondary-light: #4da8da;
$color-secondary-dark: #007cc7;
$color-secondary-light-white: #cfe4f1;

$color-white: #203647;
$color-black: #eefbfb;
$color-bg: #2e53696b;


